

<section class="h-100 position-relative background-login">
    <div class="container">
        <div class="row position-absolute top-50 start-50 translate-middle">
            <div class="col-3 bg-light text-start p-3">
                <h1>Unete a nosotros</h1>
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
               
            </div>
            <div class="col-6 p-3 background_dark">
                <form action="" method="post" [formGroup]="registerReactivo" (ngSubmit)="submit()" class="row g-3">
                    
                    <h2 class="text-center" class="text-green">Registro</h2>
                    <!--Name-->
                    <div class="col-md-6 form-floating">
                        <input type="text" class="form-control rounded-pill input_login" id="name" name="name" formControlName="name" placeholder="> Nombre">
                        <label for="name" class="text-green">> Nombre</label>
                        <!--Errors-->
                        <span *ngIf="this.registerReactivo.get('name')?.errors?.['required'] && this.registerReactivo.get('name')?.touched" class="text-danger">
                            * Campo requerido
                        </span>
                        <span *ngIf="this.registerReactivo.get('name')?.errors?.['pattern'] && this.registerReactivo.get('name')?.touched" class="text-danger">
                            * Solo letras
                        </span>
                    </div>
                    <!--Last Name-->
                    <div class="col-md-6 form-floating">
                      <input type="text" class="form-control rounded-pill input_login" id="last_name" name="last_name" formControlName="lastname" placeholder="> Apellidos">
                      <label for="lastname" class="text-green">> Apellido</label>
                      <!--Errors-->
                      <span *ngIf="this.registerReactivo.get('lastname')?.errors?.['required'] && this.registerReactivo.get('lastname')?.touched" class="text-danger">
                        * Campo requerido
                    </span>
                    <span *ngIf="this.registerReactivo.get('lastname')?.errors?.['pattern'] && this.registerReactivo.get('lastname')?.touched" class="text-danger">
                        * Solo letras
                    </span>
                    </div>
                    <!--Email-->
                    <div class="col-md-12 form-floating">
                        <input type="email" class="form-control rounded-pill input_login" id="email" name="email" formControlName="email" placeholder="> Email">
                        <label for="email" class="text-green">>Email</label>
                        <!--Errors-->
                        <span *ngIf="this.registerReactivo.get('email')?.errors?.['required'] && this.registerReactivo.get('email')?.touched" class="text-danger">
                            * Campo requerido
                        </span>
                        <span *ngIf="this.registerReactivo.get('email')?.errors?.['pattern'] && this.registerReactivo.get('email')?.touched" class="text-danger">
                            * Formato de email incorrecto
                        </span>
                    </div>
                    <!--Password-->
                    <div class="col-md-6 form-floating">
                        <input type="password" name="passwd" id="password" class="form-control rounded-pill input_login" formControlName="password" placeholder="> Contraseña">
                        <label for="password" class="text-green">> Contraseña</label>
                        <!--Errors-->
                        <span *ngIf="this.registerReactivo.get('password')?.errors?.['required'] && this.registerReactivo.get('password')?.touched" class="text-danger">
                            * Campo requerido
                        </span>
                    </div>
                    <!--Repeat Password-->
                    <div class="col-md-6 form-floating">
                        <input type="password" name="re_passwd" id="password_confirmation" class="form-control rounded-pill text-white input_login"  formControlName="repeatpassword" comparar [parametro]="this.registerReactivo.value.password" placeholder="> Repite Contraseña">
                        <label for="re_password" class="text-green">> Repetir Contraseña</label>
                        <!--Errors-->
                        <span *ngIf="this.registerReactivo.get('repeatpassword')?.errors?.['required'] && this.registerReactivo.get('repeatpassword')?.touched" class="text-danger">
                            * Campo requerido
                        </span>
                        <span *ngIf="this.registerReactivo.get('repeatpassword')?.errors?.['custom'] && this.registerReactivo.get('repeatpassword')?.touched" class="text-danger">
                            Debe coincidir con las contraseña
                        </span>
                    </div>     
                    <!--Submit button-->       
                    <div class="text-center mb-4">
                        <button type="submit" [disabled]="registerReactivo.invalid" class="btn text-white w-25 rounded-0 bg-verde" type="submit" value="Registrarse">Unete</button>
                    </div>
                
                    <a href="/home" class="text-center text-decoration-none text-white">Volver a Home</a>
                </form>
            </div>
        </div>
    </div>
</section>