
<section class="h-100 position-relative" style="background-image: url('./../../../assets/img/hecker.jpg'); background-repeat: no-repeat;">
    <div class="container">
        <div class="row position-absolute top-50 start-50 translate-middle">
            <div class="col-6" style="background-color: #0E131F">
                <form class="row g-3 p-5" [formGroup]="login" (ngSubmit)="submit()"  method="post" action="">
                  
                  <h2 class="text-center" style="color: #5EE4A3">Iniciar Sesión</h2>
                  <div class="col-md-12 form-floating">
                    <input type="text" formControlName="email" class="form-control rounded-pill" name="email" id="email" placeholder="> Usuario" style="background-color: #0E131F; border-color:#5EE4A3">
                    <label for="email" style="color: #5EE4A3">> Email</label>
                    <div *ngIf="this.login.get('email')?.errors?.['required'] && this.login.get('email')?.touched" class="text-danger mt-2">
                      Este campo es obligatorio*
                  </div>
                  </div>
                  <div class="col-md-12 form-floating">
                    <input type="text" formControlName="pass" class="form-control rounded-pill" name="pass" id="pass" placeholder="> Contraseña" style="background-color: #0E131F; border-color:#5EE4A3">
                    <label for="pass" style="color: #5EE4A3">> Contraseña</label>
                    <div *ngIf="this.login.get('pass')?.errors?.['required'] && this.login.get('pass')?.touched" class="text-danger mt-2">
                      Este campo es obligatorio*
                  </div>
                  </div>
                  
                  <div class="text-center mb-4">
                      <p class="text-white">Si no tienes cuenta <a href="/register" class="text-decoration-none">Registrate</a></p>
                      <button type="submit" [disabled]="login.invalid" class="btn text-white w-25 rounded-0" style="background-color: #5EE4A3">Entrar</button>
                  </div>

                  <p *ngIf="oculta" class="text-center text-danger">Credencials incorrectes</p>

                  <a href="/home" class="text-center text-decoration-none text-white">Volver a Home</a>
                
                </form>
            </div>
        </div>
    </div>
  </section>
